body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 5.625em;
    margin-block-end: 0;
    margin: 50px auto 0 auto;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}

.yesful {
    font-weight: normal;
    line-height: 2;
    margin-block-start: 0;
}

h1,
h2 {
    color: #66BFBF;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

h3,
a {
    color: #11999E;
}

.box {
    height: 600px;
    width: 600px;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;

}

.middle-container {
    margin: 100px 0;
}

.button-container {}

.Top-cloude {
    position: absolute;
    right: 400px;
    top: 50px;
    width: 15em;
}

.Buttom-cloude {
    position: absolute;
    left: 400px;
    bottom: 300px;
    width: 15em;
}

.mountain-iamge {
    width: 870px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.app-development {
    width: 25%;
    float: left;
    margin-right: 20px;
}

#pythonimg {
    width: 25%;
    float: right;
    margin-right: 20px;
}

/* .skill-paraone{
    clear: left;
}
.skill-paratwo{
    clear: right;

} */

.Lowermaruf {
    width: 20%;
    margin: auto;
    line-height: 2;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    margin-top: 75px;
    color: #EAF6F6;
}

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30ecbe;
    background-image: -webkit-linear-gradient(top, #30ecbe, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30ecbe, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30ecbe, #2bc4ad);
    background-image: -o-linear-gradient(top, #30ecbe, #2bc4ad);
    background-image: linear-gradient(to bottom, #30ecbe, #2bc4ad);
    text-decoration: none;
}